
//
// VARIABLES
//

// Colors
$blue: #4183C4;

$purple: #7e00ff;

// Grays
$black: #000;
$darkerGray: #222;
$darkGrey: #333;
$mediumGrey: #666;
$lightGrey: #eee;
$white: #fff;

$codeBg: #1e1c3f;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}