
//
// VARIABLES
//

// Colors
$blue: #4183C4;

$lightPurple: #eedeff;
$purple: #7e00ff;
$darkPurple: #4f009b;

// Grays
$black: #000;
$darkerGrey: #222;
$darkGrey: #333;
$mediumGrey: #666;
$lightGrey: #eee;
$white: #fff;

$codeBg: #1e1c3f;

// Font stacks
$mono: "Fira Mono", monospace;
$main: "IBM Plex Sans", sans-serif;

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}