---
layout: default
---

<article class="post detailed">


  <h1>{{ page.title }}</h1>
  <div class="post-tags">
    <p>
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">#{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </p>
  </div>
  
    
  <div class="entry">
    {{ content }}
  </div>

  <div class="share-box">
    <p>Share: <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

<div class="date">
  <p>Published {{ page.date | date: "%B %e, %Y" }} · By {{site.author}} · <a class="text-link" href="mailto:{{ site.footer-links.email }}">Contact</a></p>
  {% if page.last_modified_at %}
  <p datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last updated: {{ page.last_modified_at | date: "%b %-d, %Y" }}</p>
  {% endif %}
</div>

</article>
